@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 1200px;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(25%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slideInFromRight 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-05s {
  animation: fadeIn 0.5s ease-in-out;
}

.fade-in-1s {
  animation: fadeIn 1s ease-in-out;
}

.fade-in-2s {
  animation: fadeIn 3s ease-in-out;
}

.fade-in-3s {
  animation: fadeIn 3s ease-in-out;
}

.hover-link {
  color: #81E6D9;
}

.hover-link:hover {
  color: #4FD1C5;
}

/* Markdown styles */
.markdown h1 {
  @apply text-teal-200 text-4xl mb-4;
}

.markdown h2 {
  @apply text-teal-200 text-3xl mb-4;
}

.markdown p {
  @apply text-gray-300 mb-4;
}

.markdown a {
  @apply text-teal-400 underline;
}

.markdown a:hover {
  @apply text-teal-200;
}

.markdown ul {
  @apply list-disc ml-6;
}

.markdown ol {
  @apply list-decimal ml-6;
}

.markdown blockquote {
  @apply border-l-4 border-teal-400 pl-4 text-gray-400 mb-4;
}

/* Code block styling */
.markdown pre {
  @apply bg-gray-800 p-4 rounded-lg overflow-x-auto mb-4;
}

.markdown code {
  @apply bg-gray-800 text-gray-300 p-1 rounded;
}

/* Specific language styling */
.markdown .language-js {
  color: #f7df1e;
}

.markdown .language-css {
  color: #2965f1;
}

.markdown .language-html {
  color: #e34c26;
}

.markdown .language-json {
  color: #cb3837;
}

/* Table of Contents styles */
.table-of-contents {
  @apply bg-gray-700 p-4 rounded-lg mb-6;
}

.table-of-contents h2 {
  @apply text-xl font-bold mb-2 text-teal-200;
}

.table-of-contents ul {
  @apply list-none p-0;
}

.table-of-contents li {
  @apply mb-1;
}

.table-of-contents a {
  @apply text-teal-300 hover:text-teal-200 no-underline;
}

.table-of-contents a:hover {
  @apply text-teal-200;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #2d3748;
}

::-webkit-scrollbar-thumb {
  background-color: #4fd1c5;
  border-radius: 10px;
  border: 3px solid #2d3748;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a3f3ef;
}